/target
**/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

.clj-kondo/*
.portal/*
.calva/*
.lsp/*
.cpcache/*
.config/*

**/.clj-kondo/*
**/.portal/*
**/.calva/*
**/.lsp/*
**/.cpcache/*
**/.config/*

# Other
docker/*
.vscode/*