hidden = [".clj-kondo", ".lsp", ".config"]
modules = ["nodejs-20", "clojure-1.11", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8080
externalPort = 80
exposeLocalhost = true

[deployment]
run = ["sh", "-c", "npm run dev"]
