{:aliases {:dev {:extra-paths ["development/src"
                               "bases/server/src"
                               "bases/server/resources"
                               "bases/frontend/resources"
                               "components/core/src"
                               "components/controller/src"
                               "components/logs/src"
                               "components/flags/src"
                               "components/mailer/src"
                               "components/property/src"
                               "components/tenant/src"
                               "components/apartment/src"
                               "components/account/src"
                               "components/bank/src"
                               "components/operations/src"
                               "components/html/src"
                               "components/web/src"
                               "components/web/resources"
                               "components/user/src"
                               "components/excel/src"
                               "components/excel/resources"
                               "components/letter/src"
                               "components/survey/src"
                               "components/storage/src"
                               "components/storage/resources"
                               "components/route/src"]
                 :extra-deps {com.stuartsierra/component {:mvn/version "1.1.0"}
                              integrant/integrant {:mvn/version "1.0.0"}
                              integrant/repl      {:mvn/version "0.3.3"}
                              com.brunobonacci/mulog {:mvn/version "0.9.0"}
                              com.brunobonacci/mulog-json {:mvn/version "0.9.0"}
                              clj-http/clj-http {:mvn/version "3.13.0"}
                              cheshire/cheshire {:mvn/version "5.11.0"}
                              io.pedestal/pedestal.service {:mvn/version "0.5.9"}
                              io.pedestal/pedestal.route {:mvn/version "0.5.9"}
                              io.pedestal/pedestal.immutant {:mvn/version "0.5.9"}
                              jdbc-ring-session/jdbc-ring-session {:mvn/version "1.5.4"}
                              hiccup/hiccup {:mvn/version "2.0.0-RC3"}
                              org.clojure/data.xml {:mvn/version "0.0.8"}
                              pdfboxing/pdfboxing {:mvn/version "0.1.14"}
                              clj-pdf/clj-pdf {:mvn/version "2.6.8"}
                              org.apache.pdfbox/pdfbox {:mvn/version "3.0.0"}
                              net.sekao/odoyle-rules {:mvn/version "1.1.0"}
                              io.replikativ/datahike {:mvn/version "0.6.1571"}
                              io.replikativ/datahike-jdbc {:mvn/version "0.3.48"}
                              org.postgresql/postgresql {:mvn/version "42.6.0"}
                              buddy/buddy-hashers {:mvn/version "2.0.167"}
                              buddy/buddy-sign {:mvn/version "3.4.0"}
                              com.github.seancorfield/next.jdbc {:mvn/version "1.3.883"}
                              com.zaxxer/HikariCP {:mvn/version "5.0.1"}
                              com.github.seancorfield/honeysql {:mvn/version "2.4.1066"}
                              org.flywaydb/flyway-core {:mvn/version "9.21.2"}
                              dk.ative/docjure {:mvn/version "1.19.0"}
                              org.slf4j/slf4j-simple {:mvn/version "2.0.9"}
                              nrepl/nrepl {:mvn/version "1.3.0"}}}
           :test {:extra-paths ["bases/server/test"
                                "components/core/test"
                                "components/controller/test"
                                "components/logs/test"
                                "components/flags/test"
                                "components/mailer/test"
                                "components/property/test"
                                "components/tenant/test"
                                "components/apartment/test"
                                "components/account/test"
                                "components/bank/test"
                                "components/operations/test"
                                "components/html/test"
                                "components/web/test"
                                "components/user/test"
                                "components/excel/test"
                                "components/letter/test"
                                "components/survey/test"
                                "components/storage/test"
                                "components/route/test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                               polylith-kaocha/kaocha-wrapper
                               {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                :git/tag "v0.8.2"
                                :git/sha "d1fcd40"
                                :deps/root "projects/kaocha-wrapper"}
                               io.github.vouch-opensource/fugato
                               {:git/url "https://github.com/vouch-opensource/fugato"
                                :git/sha "4c1f687bca84f1f7777f347acdaafd49c182eae0"}
                               etaoin/etaoin {:mvn/version "1.1.42"}
                               clj-test-containers/clj-test-containers {:mvn/version "0.7.4"}
                               org.testcontainers/testcontainers {:mvn/version "1.20.4"}}}
           
           :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polylith/clj-poly
                               {:git/url "https://github.com/polyfy/polylith"
                                :git/sha "ccc261e60f6a875ff30858bf84cf67be105eac6f"
                                :deps/root "projects/poly"}
           
                               polylith-kaocha/test-runner
                               {:git/url "https://github.com/imrekoszo/polylith-kaocha"
                                :git/tag "v0.8.2"
                                :git/sha "d1fcd40"
                                :deps/root "projects/test-runner"}}}
           :repl {:main-opts ["-m" "nrepl.cmdline"
                              "--port" "7888"
                              "--interactive"]
                  :extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}}}}}