{:paths ["src"]
 :deps {com.stuartsierra/component {:mvn/version "1.1.0"}
        com.brunobonacci/mulog {:mvn/version "0.9.0"}
        clj-http/clj-http {:mvn/version "3.13.0"}
        io.pedestal/pedestal.service {:mvn/version "0.5.9"}
        io.pedestal/pedestal.route {:mvn/version "0.5.9"}
        io.pedestal/pedestal.immutant {:mvn/version "0.5.9"}
        jdbc-ring-session/jdbc-ring-session {:mvn/version "1.5.4"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        org.clojure/data.xml {:mvn/version "0.0.8"}
        pdfboxing/pdfboxing {:mvn/version "0.1.14"}
        clj-pdf/clj-pdf {:mvn/version "2.6.8"}
        net.sekao/odoyle-rules {:mvn/version "1.1.0"}
        io.replikativ/datahike {:mvn/version "0.6.1571"}
        io.replikativ/datahike-jdbc {:mvn/version "0.3.48"}
        org.postgresql/postgresql {:mvn/version "42.6.0"}
        buddy/buddy-hashers {:mvn/version "2.0.167"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.883"}
        com.zaxxer/HikariCP {:mvn/version "5.0.1"}
        com.github.seancorfield/honeysql {:mvn/version "2.4.1066"}
        org.flywaydb/flyway-core {:mvn/version "9.21.2"}
        dk.ative/docjure {:mvn/version "1.19.0"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.9"}

		;; Bricks
        poly/server {:local/root "../../bases/server"}
        poly/logs {:local/root "../../components/logs"}
		poly/html {:local/root "../../components/html"}
		poly/web {:local/root "../../components/web"}
        poly/user {:local/root "../../components/user"}
        poly/excel {:local/root "../../components/excel"}
        poly/letter {:local/root "../../components/letter"}
        poly/storage {:local/root "../../components/storage"}
        poly/route {:local/root "../../components/route"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}
           :jib {:deps {io.github.atomisthq/jibbit {:git/url "https://github.com/yalayo/jibbit.git"
                                                    :sha "6f55e679dc30de53ed89c7c89ddad0863e7e0600"}}}}}