{:main app.server.core
 :base-image {:image-name "gcr.io/distroless/java17-debian12"
              :type :registry
              :platforms [{:architecture "arm64" :os "linux"}]}
 :exposed-ports [8080 9669]}